body {
    padding: 0; 
    margin: 0;
    overflow: hidden;
}
#text{
    position: absolute;
    left: 0px;
    top:0px;
    z-index: 10;
}
#canvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
